/* header * {
  border: 1px solid red;
}   */




.image-profile img{
  border-radius: 50%;
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;
  margin:15px auto;
  /*
  era a margem que faltava para deixar centralizado kkk
*/
  width: 120px;
  height: 120px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

body {
  background-image:url(../imagens/Fundo\ \(1\).jpg);
  background-position: top center;
  background-size:100% auto;
  background-repeat: no-repeat;
  background-color:#121214;
}

body * {
  font-family: inter, sans-serif;
  line-height:180%;
}

  /* main * {
  border: 1px solid red;
}   */

main {
  max-width: 580px;
  width:90%;
  margin: auto;
  display: grid;
  gap: 24px;
  margin-top:32px;

}

section{
  color:white;
  /* color muda apenas cor de elementos textuais*/
  
  background-image: linear-gradient(90deg,#9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
  padding-top: 4px;
  border-radius: 10px; 
  /*ESSE É O PARANUE PRA DEIXAR AS BORDINHAS REDONDAS E COLORIDAS!*/
}

section div {
  background-color: #2a2634 ;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;
  /*modifica todos os divs de todos os sections
  até arredondar borda*/

}

section h2 {
    /*apaguei pq o navegador já fazia para mim, deixei só o spacing*/
    letter-spacing: -0.47px;

}

section p {
  letter-spacing: -0.18px;
  color: #A1A1AA;
  /*todos os elementos textuais estavam white por causa do section acima
  mas agora disse que apenas p da section não tera essa cor e que será um cor diferente
  só para o p*/
}

section ul {
  display: flex;/*todos os li dentro de todas as ul's(de todas as sections)
  ficarão uma ao lado da outra, e não em baixo.
  o flex não mexe na ul, apenas nos elementos dentro de um bloco
  ou seja, de blocos dentro de um bloco
  a configuração do ul, bloco pai, fica intacta
  só modifica os bloquinhos/elementosfilhos de dentro */
  flex-wrap: wrap;
  /*coloca os elementos para baixo se passar do limite da borda*/
  gap: 16px;
  /*o gap só funciona porque coloquei o flex
  sem ele, o gap não funcionaria
  mas o que ele faz?
  Ele faz modificações de espaçamentos de blocos filhos*/
  margin-top: 24px;
}

.games-list img{
  border-radius: 8px;
  width: 90px;

}

.channel-list img {
  border-radius: 50%;
  width: 70px;
}

 