 /* header * {
  border: 1px solid red;
}    */

header {
  padding-top: 32px;
  height: calc(120px + 32px);
}

header div {
  width: 120px;
  margin: auto;
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);

  border-radius: 50%;

  display: flex;
  padding: 4px;

  transition: transform .3s;
}

header div:hover {
  transform: scale(1.1)
}

header div img {
  width: 100%;
  border-radius: 50%;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

body {
  background-image:url(../imagens/Fundo\ \(1\).jpg);
  background-position: top center;
  background-size:100% auto;
  background-repeat: no-repeat;
  background-color:#121214;
}

body * {
  font-family: inter, sans-serif;
  line-height:180%;
}



main {
  max-width: 580px;
  width:90%;
  margin:  32px auto;
  display: grid;
  gap: 24px;
  margin-top:32px;

}

section{
  color:white;
  background-image: linear-gradient(90deg,#9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
  padding-top: 4px;
  border-radius: 10px; 
  /
}

section div {
  background-color: #2a2634 ;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;
  

}

section h2 {
   
    letter-spacing: -0.47px;

}

section p {
  letter-spacing: -0.18px;
  color: #A1A1AA;
  
}

section ul {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  
}

section li:hover {
  transform: scale(1.7)

}

section li {
  transition: transform .3s;
}

.games-list img{
  border-radius: 8px;
  width: 90px;
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
  display: flex;
  padding: 4px;

}

.channel-list img {
  border-radius: 50%;
  width: 70px;
  
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
  display: flex;
  padding: 4px;
}

 /* criar animação*/
 header div {
  animation: fromTop .7s .2s backwards;
}

main section {
  animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
  animation-delay: 0;
}

main section:nth-child(2) {
  animation-delay: .3s;
}

main section:nth-child(3) {
  animation-delay: .6s;
}

@keyframes fromTop {
  from {
      opacity: 0;
      transform: translateY(-30px)
  }

  to {
      opacity: 1;
      transform: translateY(0)
  }
}

@keyframes fromBottom {
  from {
      opacity: 0;
      transform: translatex(-30px)
  }

  to {
      opacity: 1;
      transform: translatex(0)
  }
}