* {
    margin: 0; /*Margem*/
    padding: 0; /*Preenchimento interno da caixa*/
    box-sizing: border-box; /*Funcionamento box: No width: Max-width:580px Padding:40px => Box <= Max-width + Padding
                                Porém com a opção "Border-box' considera apenas 580px (mesmo com preenchimento)*/
}

ul {
    list-style: none; /*Estilo da lista: Nenhum aka No more pontinhos*/
}

body {
    background-image:url(./assets/bg.jpg); /* url: Função (argumento). Argumento: Em que lugar do mundo está a imagem*/
    background-position: top center; /* Posicionamento*/
    background-size: 100% auto; /*Largura; auto Altura*/
    background-repeat: no-repeat; /*Não repetir bckgnd*/
    background-color: #121214; /*Cor em Hexa decimal -> 2.1:red 2.2:green 2.3:blue */
}

body * {
   font-family: 'Inter', sans-serif; /*Serif: As ranhuras da fonte*/
    line-height: 160%; /*Altura da linha*/
}

header{
    margin-top: 32px;
    text-align: center;
    }
header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg,  #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);

    border-radius: 50%;

    display: flex;
    padding: 4px;
}

header div img {
    width: 100%;
    border-radius: 50%;
    margin: auto;
}

main {
    max-width: 500px; /*Main: Pai de todos(Os 3 elementos aka bloquinhos)*/
                                /*Significa que td dentro do Main terá essa largura máx.*/
    width: 90%;   /*Porcentagem relativa á largura da tela*/
    margin: 32px auto; /*Margem automática*/

    display: grid;
    gap: 24px;
}

section {   
    color: white;
    background-image: linear-gradient(90deg,  #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
    
}

section div {
    background-color:  #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
 
    /*border-top: 4px solid red;*/
 } 

section h2 {
    letter-spacing: -0.47px; /*Espaço entre as letras*/
}

section p {
    letter-spacing: -0.18px; /*Copiar as infos de size, space, etc.. e Analizar se há diferença*/
    color: #A1A1AA;
}

section ul {
    display:flex;      /*Display: Visualização; visualização do elemento        /*Tipos de Visualização: 1-Caixa e caixa que está aos seu lado
                        Logo a visualização das caixas no HTML*/                                       /*  2-Caixas dentro de caixas */
            /*Tipos de Displays: ***Block*** Bloqueia uma linha inteira, assim mantendo caixas abaixo de caixas/ 
                                 ***Inline***Posiciona elementos um do lado dos outros, s/ bloquear a linha inteira*/ 
       flex-wrap: wrap;
       gap: 16px;   /*Cola um espaço entre os elementos dentro da caixa*/

       margin-top: 24px;
    }

    .games-list img {
        width: 90px;
        border-radius: 8px;
    }

    .channel-list img {
        border-radius: 50%;
        width: 70px;
    }